version: "3.7"
services:
  keycloak:
    image: {{ KEYCLOAK_DOCKER_IMAGE }}:{{ KEYCLOAK_DOCKER_IMAGE_TAG }}
    container_name: keycloak
    environment:
      - KEYCLOAK_USER={{ KEYCLOAK_ADMIN_USER }}
      - KEYCLOAK_PASSWORD={{ KEYCLOAK_ADMIN_PASS }}
      - DB_VENDOR=H2
    ports:
      - "8080:8080"
{% if KEYCLOAK_CUSTOM_THEMES %}
    volumes:
{% for theme in KEYCLOAK_CUSTOM_THEMES %}
      - "./themes/{{ theme }}:/opt/jboss/keycloak/themes/{{ theme }}:ro"
{% endfor %}
{% endif %}
